.header-bar.default-decoration {
    padding-top: 4px;
    padding-bottom: 4px;
    }

.header-bar.default-decoration .button.titlebutton {
    padding-top: 4px;
    padding-bottom: 4px;
}

/* No line below the title bar */
.ssd .titlebar {
    border-width: 2px;
    box-shadow: none;
}

.default-decoration {
    min-height: 0; /* let the entry and button drive the titlebar size */
    padding: 2px
}

.default-decoration .titlebutton {
    min-height: 26px; /* tweak these two props to reduce button size */
    min-width: 26px;
}

headerbar entry,
headerbar spinbutton,
headerbar button,
headerbar separator {
    margin-top: 2px; /* same as headerbar side padding for nicer proportions */
    margin-bottom: 2px;
}