#Auto detect text files and perform LF normalization
* text=auto

#These files are text and should be normalized (Convert crlf => lf)
.htaccess text
.gitignore text
.gitattributes text
*.adoc text
*.css text
*.csv text
*.df text
*.htm text
*.html text
*.inc text
*.ini text
*.java text
*.js text
*.json text
*.jsp text
*.jspf text
*.md text
*.mustache text
*.php text
*.pl text
*.properties text
*.py text
*.rb text
*.scm text
*.sh text
*.sql text
*.svg text
*.tab text
*.textile text
*.tld text
*.tsv text
*.txt text
*.xml text

# These files are binary and should be left untouched
# (binary is a macro for -text -diff)
.7z binary
.class binary
.dll binary
.ear binary
.fla binary
.flv binary
.gif binary
.gz binary
.ico binary
.jar binary
.jpeg binary
.jpg binary
.mov binary
.mp3 binary
.mp4 binary
.png binary
.pyc binary
.so binary
.swf binary
.ttf binary
.war binary
.zip binary

#Documents
.doc diff=astextplain
.DOC diff=astextplain
.docx diff=astextplain
.DOCX diff=astextplain
.dot diff=astextplain
.DOT diff=astextplain
.pdf diff=astextplain
.PDF diff=astextplain
.rtf diff=astextplain
.RTF diff=astextplain

# Custom for Visual Studio
.sln text eol=crlf merge=union
.csproj merge=union
.vbproj merge=union
.fsproj merge=union
.dbproj merge=union
.pbxproj binary -merge=union

#Action Script
.swf -crlf -diff -merge
.swc -crlf -diff -merge
.fla -crlf -diff -merge
