# Build output
.build_config
.build-md5
.cache.log
/bin
/lib
/deb
/build
/build-*
/local_logs
/firmware

# Eclipse files
.cproject
.project
.pydevproject
.settings

# VS Code files
.vscode

# Qt files
CMakeLists.txt.user
.autosave

# VIM/Editor temporary files
.*.swp
.*.swo

# Python compiled files
*.pyc

# prevent clion project files
.idea
*.iml

# emacs project files
.dir-locals.el

# Bazel
source/..bazel
source/bazel-*
source/bazel/ext
source/external
source/.bazel
bzl
.bazel.info

# OSX
.DS_Store
._*

# Ignore a compile commands database
compile_commands.json