# To get better language analysis on github, we will rename certain file extensions to be a different language name.
# The linguist tool github uses to detect this does not allow you to use your own language.
# So we will also pick existing languages.
*.hcp linguist-language=Fancy
*.UniLang inguist-language="Pure Data"
