@import "shapes/all";


.square{
  @include square(50px);

  //specific themes
  background-color: red;
}

.rectangle{
  @include rectangle(50px, 80px);

  //specific themes
  background-color: orange;
}

.circle{
  @include circle(70px);

  //specific themes
  background-color: yellow;
}

.triangle{
	@include triangle(60px, 60px, green);
}

.oval{
@include oval(200px, 100px);

  //specific themes
  background-color: blue;
}