body
{
	background-color:#99CCFF;
}
#wrapper
{
	width:900px;
	position:relative;
	background-color:#C2E0FF;
	margin-top:0px;
	margin-bottom:0px;
	margin-right:auto;
	margin-left:auto;
	min-height:450px;
	opacity:0.85;
	padding-bottom:50px;
	overflow:hidden;
	display:block;
}

.navBar
{
	left: 0%;
	font-size: 130%;
	text-align:left;
	border-top-width:2px;
	border-bottom:solid;
	border-bottom-width:2px;
	padding:10px;
	width:auto;
	font-family: 'Gorditas', cursive;
	text-shadow: 4px 4px 4px #000;
	
}

.navBar a
{
	padding:8px;
	text-decoration:none;
	color:#FFF;
	
}
.navBar a:hover
{
	background-color:#5588C0;
	color:#D8D8D8;
}

#content
{
	margin-left:3%;
	margin-right: 3%;
	width:auto;
	min-height:300px;
	padding-left:40px;
	padding-right:40px;
	background-color:#F7F7F7;
	box-shadow: 8px 8px 5px #888888;
}

#plvl
{
	margin-left: 32px;
}

#pw
{
	margin-left: 28px;
}

#user
{
	margin-left: 22px;
}

#pw2
{
	margin-left: 17px;
}

#submit
{
	margin-left: 13%;
}

#newsSubmit
{
	margin-left: 18%;
	height: 9%;
	width: 14%;
	margin-bottom: 2%;
}