	body
	{
		background-color:#99CCFF;
	}
	
	
	#wrapper
	{
		width:70%;
		position:relative;
		background-color:#C2E0FF;
		margin-top:0px;
		margin-bottom:0px;
		margin-right:auto;
		margin-left:auto;
		min-height:900px;
		opacity:0.85;
		padding-bottom:50px;
		overflow:hidden;
		display:block;
		border-radius:15px;
		
	}
	
	#header
	{
		width:100%;
		height:100%;
		background-color:#207AD4;
		margin-top:-37px;
	}
	
	#logoText
	{
		color:#FFF;
		width:80%;
		font-size:55px;
		text-shadow: 4px 4px 4px #000;
		float:right;
		padding-top:25px;
	}


	#logo
	{
		float:left;
		padding-top:22px;
	}
	.navBar
	{
		left: 0%;
		font-size: 130%;
		text-align:left;
		padding:10px;
		width:auto;
		font-family: 'Gorditas', cursive;
		text-shadow: 4px 4px 4px #000;
		clear:both;
	}
	
	.navBar a
	{
		padding:8px;
		text-decoration:none;
		color:#FFF;
		
	}
	.navBar a:hover, .navSubBar a:hover
	{
		background-color:#5588C0;
		color:#D8D8D8;
	}
	
	.navSubBar
	{
		font-family: 'Gorditas', cursive;
		text-shadow: 4px 4px 4px #000;
		margin-left:26%;
		list-style:none;
		width:11%;
		padding-left: 6px;
		margin-top:-2%;
		visibility:hidden;
	}
	
	.navSubBar
	{
		background-color:#0C4E91;
	}
	.navSubBar a
	{
		text-decoration:none;
		color:#FFF;
	}
	
	#doc-subNav
	{
	  font-family: 'Gorditas', cursive;
	  text-shadow: 4px 4px 4px #000;
	}
	
	#doc-subNav ul 
	{
	  style-type:none;
	  padding-left:0;
	  margin-left:2%;
	  
	}
	
	#doc-subNav ul li
	{
	    display:inline;
	    padding-right:20%;
	    padding-left:3%;
	    background-color: #4FA3F0;
	    border-radius:15px;
	    box-shadow: 8px 8px 5px #888888;
	    border-radius:15px;
	}
	
	#doc-subNav ul li a
	{
	  text-decoration:none;
	  color:#FFF;
	}
	
	#objective
	{
		margin-left:10%;
		margin-right:10%;
		background-color:#F7F7F7;
		box-shadow: 8px 8px 5px #888888;
		border-radius:15px;
	}
	
	#objective p,h1
	{
		padding:5px;
	}
	

	#newsHead
	{
		position:relative;
		width:55%;
		float:left;
		margin-left:0px;
		padding-left:50px;
		
		
	}
	
	#newsHead h3
	{
		color:#207AD4;
		text-shadow: 4px 4px 4px #768BCA;
	}
	
	#archive
	{
		margin-right: 12%;
		text-align: center;
	}
	
	#archiveHead
	{
		color:#207AD4;
		text-shadow: 4px 4px 4px #768BCA;
		text-align: center;
	}
	
	#archiveContent
	{
		width: 80%;
		margin: auto;
	}
	
	.newsBox
	{
		width:95%;
		margin:auto;
		padding-top:9px;
		background-color:#F7F7F7;
		border-radius:15px;
		box-shadow: 8px 8px 5px #888888;
	}
	
	.newsBox h4
	{
		text-align:right;
		margin-right:20px;
		margin:10px;
		
	}
	
	.newsBox p
	{
		margin-left:20px;
		margin-right:20px;
	}
	
	.newsAuth p
	{
		text-align:right;
		color:#8F8F8F;
		padding-right:17px;
	}
	

	#twitter
	{
		position:relative;
		margin-right:2%;
		width:32%;
		float:right;
		margin-top:60px;
		background-color:#F7F7F7;
		border-radius:15px;
		box-shadow: 8px 8px 5px #888888;
	}
	
	
	#pageText
	{
		margin-left:auto;
		margin-right:auto;
		width:93%;
		background-color:#F7F7F7;
		border-radius:15px;
		box-shadow: 8px 8px 5px #888888;
	}
	
	#pageText p,h2
	{
		padding:10px;
	}
	
	
	#userTbl
	{
		margin:auto;
	}
	
	#newsTbl
	{
		width:80%;
		margin:auto;
	}
	
	#footer
	{
		clear:both;
		position:absolute;
		bottom:0;
		height:35px;
		width:100%;
		background-color:#207AD4;
		color:#FFF;
		text-align:center;
		
	}
	
	.contactBox	
	{
	   margin:4%;
	   border-width:2px;
	   height:150px;
	   background-color:#F7F7F7;
	   border-radius:15px;
	   box-shadow: 8px 8px 5px #888888;
	   overflow:hidden;
	}
	
	.contactBox img
	{
		height:150px;
	}
	
	.contactBox h4
	{
		height:10px;
	}
	
	#joshImg
	{
		float:left;
	}
	
	#contactTblJosh
	{
		float:right;
		margin-right:3%;
		margin-top:2%;
	}
	
	#contactTblHickey
	{
		float:left;
		margin-left:3%;
		margin-top:2%;
	}
	
	#hickeyImg
	{
		float:right;
	}
	
	#trevorDesc h5
	{
		border:0;
		padding:0;
		margin:0;
		margin-top:6%;
		margin-left:68%;
	}
	
	#joshDesc
	{
		border:0;
		padding:0;
		margin:0;
		margin-left:12%;
	}
	
	#joshDesc ul li
	{
		list-style:none;
	}
	
	#fileTbl a
	{
		text-decoration:none;
	}