	html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
	
	h1,h2,h3,h4,h5,h6
	{
		font-weight:bold;
	}
	
	body
	{
		background-color:#99CCFF;
	}
	
	
	#wrapper
	{
		width:90%;
		background-color:#FFF;
		margin-top:0px;
		margin-bottom:0px;
		margin-right:auto;
		margin-left:auto;

	}
	
	#header
	{
		width:100%;
		border-left-width:0.5%;
		border-right-width:0.5%;
		border-top-width:0.5%;
	}
	
	#linkBar
	{
		left: 0%;
		font-size: 130%;
		text-align:left;
		background-color:#3399CC;
		border-top:solid;
		border-top-width:2px;
		border-bottom:solid;
		border-bottom-width:2px;
		width:100%;
	}
	
	#pageHeader h1
	{
		font-size:200%;
		margin-left:5%;
	}
	
	
	#objective
	{
		margin-left:10%;
		margin-right:10%;
	}
	#newsHead
	{
		width:80%;
		float:none;
		margin-left:auto;
		margin-right:auto;
		padding-left:0;
	}
	.newsBox
	{
		width:100%;
		margin-top:8px;
	}
	
	.newsBox h4
	{
		text-align:right;
		margin-right:20px;
		margin:10px;
		
	}
	
	.newsBox p
	{
		margin-left:20px;
	}
	
	#twitter
	{
		position:relative;
		margin-right:20px;
		width:250px;
		float:right;
		margin-top:50px;
		display:none;
	}
	
	.navBar li
	{
		display:block;
		list-style:none;
		padding-right:5px;
	}
	
	#pageText
	{
		margin-left:3%;
	}
	
	#archive
	{
		padding-bottom:5%;
		padding-top:3%;
	}
	
	#footer
	{
		clear:both;
		bottom:0;
		width:100%;
	}
	
	#contactBox	
	{
		border:none;
		width:100%; 
		clear:both;
	}
	
	#contactBox img
	{
		height:100%;
	}
	
	#contactBox h4
	{
		height:80%;
	}
	
	#logo
	{
		display:none;
		/*width:10%;
		padding-top:9%;*/
	}
	
	#logoText
	{
		padding-top:10%;
		float:none;
	}
	
	#joshImg
	{
		float:none;
		display:none;
	}
	
	#contactTblJosh
	{
		float:none;
		margin-right:3%;
		margin-top:2%;
	}
	
	#contactTblHickey
	{
		float:none;
		margin-left:0%;
		margin-top:2%;
	}
	
	#hickeyImg
	{
		float:none;
		display:none;
	}
	
	#trevorDesc h5
	{
		border:0;
		padding:0;
		margin:0;
		
	}
	
	#joshDesc
	{
		border:0;
		padding:0;
		margin:0;
		
	}
	
	#joshDesc ul li
	{
		list-style:none;
	}
	
	#fileTbl
	{
		display:none;
	}