$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower



//custom fonts
@font-face {
   font-family: 'ProFont';
   src: 
   url('../fonts/profontwindows-webfont.woff') format('woff'),
   url('../fonts/profontwindows-webfont.ttf') format('truetype');

}

.font-1{font-size: 8px; font-family: 'Rajdhani', sans-serif;}
.font-2{font-size: 8px; font-family: 'Share Tech', sans-serif;}
.font-3{font-size: 8px; font-family: 'Ubuntu Mono', ;}
.font-4{font-size: 8px; font-family: 'Anaheim', sans-serif;}
.font-5{font-size: 8px; font-family: 'Ropa Sans', sans-serif;}
.font-6{font-size: 8px; font-family: 'Ubuntu', sans-serif;}
.font-7{font-size: 8px; font-family: 'Droid Sans Mono', ;}
.font-8{font-size: 8px; font-family: 'Source Code Pro', ;}
.font-9{font-size: 8px; font-family: 'Quattrocento Sans', sans-serif;}
.font-10{font-size: 8px; font-family: 'Ruda', sans-serif;}
.font-11{font-size: 8px; font-family: 'Khula', sans-serif;}
.font-12{ font-size: 8px; font-family: 'Rubik Mono One', sans-serif}
.font-13{font-size: 8px; font-family: 'ProFont'}

.font-1{font-size: 9px; font-family: 'Rajdhani', sans-serif;}
.font-2{font-size: 9px; font-family: 'Share Tech', sans-serif;}
.font-3{font-size: 9px; font-family: 'Ubuntu Mono', ;}
.font-4{font-size: 9px; font-family: 'Anaheim', sans-serif;}
.font-5{font-size: 9px; font-family: 'Ropa Sans', sans-serif;}
.font-6{font-size: 9px; font-family: 'Ubuntu', sans-serif;}
.font-7{font-size: 9px; font-family: 'Droid Sans Mono', ;}
.font-8{font-size: 9px; font-family: 'Source Code Pro', ;}
.font-9{font-size: 9px; font-family: 'Quattrocento Sans', sans-serif;}
.font-10{font-size: 9px; font-family: 'Ruda', sans-serif;}
.font-11{font-size: 9px; font-family: 'Khula', sans-serif;}
.font-12{ font-size: 9px; font-family: 'Rubik Mono One', sans-serif}
.font-13{font-size: 9px; font-family: 'ProFont'}

.font-1{font-size: 10px; font-family: 'Rajdhani', sans-serif;}
.font-2{font-size: 10px; font-family: 'Share Tech', sans-serif;}
.font-3{font-size: 10px; font-family: 'Ubuntu Mono', ;}
.font-4{font-size: 10px; font-family: 'Anaheim', sans-serif;}
.font-5{font-size: 10px; font-family: 'Ropa Sans', sans-serif;}
.font-6{font-size: 10px; font-family: 'Ubuntu', sans-serif;}
.font-7{font-size: 10px; font-family: 'Droid Sans Mono', ;}
.font-8{font-size: 10px; font-family: 'Source Code Pro', ;}
.font-9{font-size: 10px; font-family: 'Quattrocento Sans', sans-serif;}
.font-10{font-size: 10px; font-family: 'Ruda', sans-serif;}
.font-11{font-size: 10px; font-family: 'Khula', sans-serif;}
.font-12{ font-size: 10px; font-family: 'Rubik Mono One', sans-serif}
.font-13{font-size: 10px; font-family: 'ProFont'}

.font-1{font-size: 11px; font-family: 'Rajdhani', sans-serif;}
.font-2{font-size: 11px; font-family: 'Share Tech', sans-serif;}
.font-3{font-size: 11px; font-family: 'Ubuntu Mono', ;}
.font-4{font-size: 11px; font-family: 'Anaheim', sans-serif;}
.font-5{font-size: 11px; font-family: 'Ropa Sans', sans-serif;}
.font-6{font-size: 11px; font-family: 'Ubuntu', sans-serif;}
.font-7{font-size: 11px; font-family: 'Droid Sans Mono', ;}
.font-8{font-size: 11px; font-family: 'Source Code Pro', ;}
.font-9{font-size: 11px; font-family: 'Quattrocento Sans', sans-serif;}
.font-10{font-size: 11px; font-family: 'Ruda', sans-serif;}
.font-11{font-size: 11px; font-family: 'Khula', sans-serif;}
.font-12{ font-size: 11px; font-family: 'Rubik Mono One', sans-serif}
.font-13{font-size: 11px; font-family: 'ProFont'}

.font-1{font-size: 12px; font-family: 'Rajdhani', sans-serif;}
.font-2{font-size: 12px; font-family: 'Share Tech', sans-serif;}
.font-3{font-size: 12px; font-family: 'Ubuntu Mono', ;}
.font-4{font-size: 12px; font-family: 'Anaheim', sans-serif;}
.font-5{font-size: 12px; font-family: 'Ropa Sans', sans-serif;}
.font-6{font-size: 12px; font-family: 'Ubuntu', sans-serif;}
.font-7{font-size: 12px; font-family: 'Droid Sans Mono', ;}
.font-8{font-size: 12px; font-family: 'Source Code Pro', ;}
.font-9{font-size: 12px; font-family: 'Quattrocento Sans', sans-serif;}
.font-10{font-size: 12px; font-family: 'Ruda', sans-serif;}
.font-11{font-size: 12px; font-family: 'Khula', sans-serif;}
.font-12{ font-size: 12px; font-family: 'Rubik Mono One', sans-serif}
.font-13{font-size: 12px; font-family: 'ProFont'}

// .font-1{font-size: 13px; font-family: 'Rajdhani', sans-serif;}
// .font-2{font-size: 13px; font-family: 'Share Tech', sans-serif;}
// .font-3{font-size: 13px; font-family: 'Ubuntu Mono', ;}
// .font-4{font-size: 13px; font-family: 'Anaheim', sans-serif;}
// .font-5{font-size: 13px; font-family: 'Ropa Sans', sans-serif;}
// .font-6{font-size: 13px; font-family: 'Ubuntu', sans-serif;}
// .font-7{font-size: 13px; font-family: 'Droid Sans Mono', ;}
// .font-8{font-size: 13px; font-family: 'Source Code Pro', ;}
// .font-9{font-size: 13px; font-family: 'Quattrocento Sans', sans-serif;}
// .font-10{font-size: 13px; font-family: 'Ruda', sans-serif;}
// .font-11{font-size: 13px; font-family: 'Khula', sans-serif;}
// .font-12{ font-size: 13px; font-family: 'Rubik Mono One', sans-serif}
// .font-13{font-size: 13px; font-family: 'ProFont'}