# From https://github.com/bazelbuild/bazel/issues/5741#issuecomment-418071387
#startup --host_jvm_args=-Djavax.net.ssl.trustStore=/etc/ssl/certs/java/cacerts \
#        --host_jvm_args=-Djavax.net.ssl.trustStorePassword=changeit

# From https://github.com/bazelbuild/rules_foreign_cc
common --experimental_cc_skylark_api_enabled_packages=@rules_foreign_cc//tools/build_defs,tools/build_defs,@foreign_cc_impl
